/*
 * @Author: Rhymedys/Rhymedys@gmail.com
 * @Date: 2018-08-07 15:54:11
 * @Last Modified by: Rhymedys
 * @Last Modified time: 2018-08-14 10:00:51
 */

@import '~antd/lib/style/themes/default.less';
@fs-25: 25px;
.mainColor {
  color: @highlight-color;
}

.textSecondary {
  color: @text-color-secondary;
  font-size: @font-size-sm;
}

.mainTextSecondary {
  color: @highlight-color;
  font-size: @fs-25;
}

.heading {
  color: @heading-color;
  font-size: @fs-25;
}

.titleWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  .left {
    flex: 1;
  }
  .right {
    .rightContent {
      font-size: @font-size-base;
      display: inline-block;
      margin-right: 24px;
      a {
        color: @text-color;
        margin-left: 24px;
        &:hover {
          color: @primary-color;
        }
        &.currentDate {
          color: @primary-color;
        }
      }
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .salesExtraWrap {
    display: none;
  }
}
